# Welcome to Jupyter Notebook

This initial Lab is just to get you familiar with Jupyter notebook.

Jupyter Notebook is a tool that lets you organize your Python code and makes it easier to present. A notebook is a single document (like this one) where you can read explanations (like this text), write and run Python code (like below), and display the output. It is helpful for data science projects and Labs since it allows you to read the teacher's instructions, write the corresponding code, and directly execute it from your web browser.

# How to run a code cell

The Python code is presented within cells that you can run (or execute). For example, select the first code cell below, then press the "**Run**" button (in the top menu) to execute it. You can also execute the selected cell by pressing **CTRL+ENTER** or **SHIFT+ENTER** on your keyboard.

For each cell below, read the code, run it, and try to understand what it does (based on the displayed output). Don't worry if you don't understand something at this stage; you will study everything in the upcoming lectures. Feel free to ask the Lab teacher if you don't understand something or if you need help.

In [2]:
2+6

8

In [3]:
5*3

15

In [4]:
print("Hello world")

Hello world

In [2]:
# This line does nothing. It's just a comment. It is ignored by Python as it starts with a hash (#)

In [6]:
A = 10
B = 4

print("The result of the addition is", A+B)
print("The result of the multiplication is", A*B)
print("The result of the division is", A/B)

The result of the addition is 14
The result of the multiplication is 40
The result of the division is 2.5

In [7]:
name = "Bob"
age = 28

print("Hi! My name is", name, "and I am", age, "years old.")
print(f"In 2 years, I will be {age+2} years old.")

Hi! My name is Bob and I am 28 years old.
In 2 years, I will be 30 years old.

In [8]:
# Please run this cell after running the previous one.
# If you want, you can also change the age in the previous cell and re-run it before running this cell.

if age > 30:
    print(f"Access granted. Welcome {name}.")
else:
    print(f"Access refused. Common {name}, you can come back in {30-age} years.")

Access refused. Common Bob, you can come back in 2 years.

In [9]:
usernames = ["Mark", "Sara", "Ahmad", "Johanna"]

for user in usernames:
    print(f"Welcome {user}")

Welcome Mark
Welcome Sara
Welcome Ahmad
Welcome Johanna

In [10]:
for i in range(0, 10):
    print(f"The double of {i} is {2*i}")

The double of 0 is 0
The double of 1 is 2
The double of 2 is 4
The double of 3 is 6
The double of 4 is 8
The double of 5 is 10
The double of 6 is 12
The double of 7 is 14
The double of 8 is 16
The double of 9 is 18

# Experimenting with the `print()` function

The objective is to become familiar with the print() function. This function simply prints out some text to the screen.

First, use the print() function to print the string `Hello, Data Scientists!` to the screen. Use double quotes around the string.

In [11]:
print("Hello, Data Scientists!")

Hello, Data Scientists!

Now use the print() function again, but this time print your full name.

In [12]:
print("Melek İnci")

Melek İnci

Now remove the double quotes and run your code. Watch Python's reaction and see what kind of error is thrown.

In [13]:
print(Melek İnci)

SyntaxError: ignored

Put back the double quotes and remove the parentheses (leave a whitespace after `print `), then run your code again. See what kind of error is thrown this time.

In [14]:
print "Melek İnci"

SyntaxError: ignored

Experiment as much as you can. For example, change double quotes to single quotes, use multiple print() functions on the same line, and then on different lines. Try an empty `print()` between two lines. See what happens.

In [17]:
print('Melek İnci')
print()
print("Melek İnci")       print('Melek İnci')

SyntaxError: ignored

# Experimenting with the `input()` function
When you run this cell, the first line `name = input("Please enter your name: ")` will be waiting for you to input something with your keyboard.
The * shows that the cell is running, and you can't run other cells while this one is still running.
Once you input something and press **ENTER**, the second line `print("Hello", name)` is executed. You can then see that the cell has finished running (no *)

In [18]:
pseudoname = input("Please enter your pseudoname: ")
print("Hello", pseudoname)

Please enter your pseudoname: Melek
Hello Melek

# Showing the line numbers in the code cells
In a Jupyter notebook like this one, it can be sometimes useful to show the line numbers (to refer to a specific line of the code). To show or hide the numbers corresponding to lines of your code, you can:
- Select the code cell below, click on the command "*palette button*" in the top menu (it is shown as a keyboard icon) and search for "line numbers" and select "toggle line numbers".
- Or select the code cell, and press **ESC+L** on your keyboard

In [19]:
# Here are some simple lines of code
print("Hello world")
print("This is just an example")
print("Bye")
print("...")

Hello world
This is just an example
Bye
...

# Restarting the notebook
The variables you created previously still exist in memory. For example:

In [20]:
print("The variable A is", A)
print("The variable B is", B)
print("The variable name is", name)
print("The variable age is", age)
print("The variable pseudoname is", pseudoname)
print("The variable usernames is", usernames)

The variable A is 10
The variable B is 4
The variable name is Bob
The variable age is 28
The variable pseudoname is Melek
The variable usernames is ['Mark', 'Sara', 'Ahmad', 'Johanna']

When you restart the kernel, you loose all the variables that you had in memory. To check that, restart the kernel (by clicking on "Kernel" then "Restart" in the menu), and then come back directly here and execute the above cell (without re-executing all the previous ones). You will get a `NameError` because we restarted and we didn't define any value for the variables.

You can also try to restart the kernel by clicking on "Kernel" then "Restart & Clear output" in the menu. This will restart the kernel and erase the previous output displayed for all cells.

Once you are finished with everything, you can save with **CTRL+S** (or "File" then "Save&Checkpoint"), then shutdown the notebook properly by clicking on "File" then "Close & Halt".